body {
	background: #000;
	font-family: 'Lato', sans-serif;
}

h1 {
	display: block;
	text-align: center;
	font-size: 40px;
	color: #0ff;
}	

.box {
	margin-top: 20px;
	text-align: center;
}


.box > h2 {
	display: block;
	font-size: 30px;
	color: #ff0;
}

.box > h3 {
	margin-top: 20px;
	display: block;
	font-size: 25px;
	color: #ebeb00;
}

button {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}

a {
	display: block;
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
}